
{% extends "layout.html" %}

{% block pageTitle %}
  TP Calculator - Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">TP Calculator - extra</h2>
    <a href="extra-version/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Start
    </a>

    <hr>
    <h2 class="govuk-heading-m">TP Calculator - v2</h2>
    <h4 class="govuk-heading-s">Sprint xx</h4>
    <a href="version2/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Start
    </a>
    <br>
    <a href="version2/summary.html#summarystart" role="button" draggable="false" class="govuk-button govuk-button--start">
    Summary
    </a>
    <br>
    <a href="version2/error.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Error
    </a>
    <h4 class="govuk-heading-s">UR Feedback</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Buttons: Correcting style issues, one green button per page</li>
      <li>Changed remove to text links</li>
      <li>Split up sections: using a line to break up contents</li>
      <li>Error messages in order = top of page and within element</li>
      <li></li>
    </ul>

    <hr>

    <h2 class="govuk-heading-m">TP Calculator - v1</h2>
    <h4 class="govuk-heading-s">Sprint xx</h4>
    <a href="version1/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Start
    </a>
    <br>
    <a href="version1/error.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Error
    </a>
    <h4 class="govuk-heading-s">UR Feedback</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Need to grab some short notes</li>
      <li>Need to grab some short notes</li>
      <li>Need to grab some short notes</li>
      <li>Need to grab some short notes</li>
    </ul>

    <hr>

  </div>
</div>


{% endblock %}
