
{% extends "layout.html" %}

{% block pageTitle %}
  TP Calculator - Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">TP Calculator - v2</h2>
    <h4 class="govuk-heading-s">Sprint xx</h4>
    <a href="version2/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Start
    </a>
    <br>
    <a href="version2/error.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Error
    </a>
    <h4 class="govuk-heading-s">UR Feedback</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Buttons: Correcting style issues, one green button per page</li>
      <li>Changed remove to text links</li>
      <li>Split up sections: using a line to break up contents</li>
      <li>Error messages in order = top of page and within element</li>
      <li></li>
    </ul>

    <hr>

    <h2 class="govuk-heading-m">TP Calculator - v1</h2>
    <h4 class="govuk-heading-s">Sprint xx</h4>
    <a href="version1/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Start
    </a>
    <br>
    <a href="version1/error.html" role="button" draggable="false" class="govuk-button govuk-button--start">
    Error
    </a>
    <h4 class="govuk-heading-s">UR Feedback</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Need to grab some short notes</li>
      <li>Need to grab some short notes</li>
      <li>Need to grab some short notes</li>
      <li>Need to grab some short notes</li>
    </ul>

    <hr>

  </div>
</div>


<!--

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>
-->
{% endblock %}
